{% extends "base.html" %}

{% block title %}All Urls{% endblock title %}

{% block body %}
<div class='container overflow-auto'>
<table class="table">
  <thead>
    <tr>
      <th scope="col col-md-1">Id</th>
      <th scope="col col-md-7">Flong</th>
      <th scope="col col-md-4">short</th>
    </tr>
  </thead>
  <tbody>
    {% if list %}
        {% for url in list %}
            <tr>
                <td class='col col-md-1'>{{ url.id_ }}</td>
                <td class='col col-md-7'>{{ url.long }}</td>
                <td class='col col-md-4'><a href='http://localhost:5000/{{url.short}}'>http://localhost:5000/{{ url.short }}</a></td>
            </tr>
        {% endfor %}
    {% endif %}
    
  </tbody>
</table>
</div>
{% endblock body %}